@model PriceComparisonApp.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}
<!-- Clients Section -->
<section id="clients" class="clients section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 2,
                      "spaceBetween": 40
                    },
                    "480": {
                      "slidesPerView": 3,
                      "spaceBetween": 60
                    },
                    "640": {
                      "slidesPerView": 4,
                      "spaceBetween": 80
                    },
                    "992": {
                      "slidesPerView": 6,
                      "spaceBetween": 120
                    }
                  }
                }
            </script>
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="~/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="~/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="~/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="~/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="~/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="~/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="~/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="~/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section><!-- /Clients Section -->
<!-- Pricing Section -->
<section id="pricing" class="pricing section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Sản phẩm</h2>
        <p>Danh mục sản phẩm</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-3">
            <div class="col-xl-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                @if (ViewData["twoProducts"] != null)
                {
                    var pro = ViewData["twoProducts"] as List<Product>;
                    if (pro[0] != null)
                    {
                        <div class="pricing-item featured">
                            <h3>@pro[0].Shop</h3>
                            <h4>@pro[0].Name</h4>
                            <h4>@pro[0].Price</h4>
                            <ul>
                                <li>@pro[0].Branch</li>
                                <li>@pro[0].Memory</li>
                                <li>@pro[0].Rate</li>
                                <li>@pro[0].Category</li>
                                <li class="na">Ảnh</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="pricing-item featured">
                            <h3>Shop 1</h3>
                            <h4><sup>$</sup>19<span> / month</span></h4>
                            <ul>
                                <li>Aida dere</li>
                                <li>Nec feugiat nisl</li>
                                <li>Nulla at volutpat dola</li>
                                <li>Pharetra massa</li>
                                <li class="na">Massa ultricies mi</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>

                    }
                }
            </div><!-- End Pricing Item -->

            <div class="col-xl-4 col-lg-4" data-aos="fade-up" data-aos-delay="400">
                <div class="pricing-item">
                    <h3>@Model.Shop</h3>
                    <h4><strong>@Model.Name</strong></h4>
                    <h4>@Model.Price</h4>
                    <ul>
                        <li>@Model.Branch</li>
                        <li>@Model.Memory GB</li>
                        <li>@Model.Rate</li>
                        <li>@Model.Category</li>
                        <li><img srcset="@Model.ImgUrl" class="img-fliud" style="width:200px;" /> </li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="@Model.ProductUrl" target="_blank" class="btn-buy">Buy Now</a>
                    </div>
                </div><!-- End Pricing Item -->
            </div>
            <div class="col-xl-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                @if (ViewData["twoProducts"] != null)
                {
                    var pro = ViewData["twoProducts"] as List<Product>;
                    if (pro[1] != null)
                    {
                        <div class="pricing-item featured">
                            <h3>@pro[1].Shop</h3>
                            <h4>@pro[1].Name</h4>
                            <h4>@pro[1].Price</h4>
                            <ul>
                                <li>@pro[1].Branch</li>
                                <li>@pro[1].Memory</li>
                                <li>@pro[1].Rate</li>
                                <li>@pro[1].Category</li>
                                <li class="na">Ảnh</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="pricing-item featured">
                            <h3>Shop 2</h3>
                            <h4><sup>$</sup>19<span> / month</span></h4>
                            <ul>
                                <li>Aida dere</li>
                                <li>Nec feugiat nisl</li>
                                <li>Nulla at volutpat dola</li>
                                <li>Pharetra massa</li>
                                <li class="na">Massa ultricies mi</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>

                    }

                }
            </div><!-- End Pricing Item -->
        </div>
    </div>

</section><!-- /Pricing Section -->